
<Modal ModalDialog="modal-dialog-centered" @ref="Modal">
    
    <Title>
        Modal title
    </Title>
    <Body>
        ...
    </Body>
    <Footer>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Modal.Close()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </Footer>

</Modal>

@code {
    public Modal Modal { get; set; }

}
